# Project
__pycache__/
.venv/
.ruff_cache/

# Test
.pytest_cache/
.coverage
htmlcov/

# Build
*.egg-info/
/dist/

# Dev
TODO.md
NOTES.md
.vscode/
/tools/clean.py
/tools/known_artists_*.txt

# macOS Shit
.DS_Store
