# Python
__pycache__/
.venv/

# macOS Shit
.DS_Store

# Project
cookie
cache/
downloads/
tracker/

# Lint
.ruff_cache/
/lint/

# Test
.pytest_cache/
.coverage
htmlcov/

# Build
*.egg-info/

# Dev
TODO.md
.vscode/
/clean.py
